<section class="exercises-section">
  <div class="container">
    <div class="exercises-container">
      <h2 class="exercises-title">Exercises</h2>
      <ul class="exercises-button-list">
        <li class="exercises-button-item">
          <button
            class="exercises-button exercises-button-active"
            data-name="Muscles"
          >
            Muscles
          </button>
        </li>
        <li class="exercises-button-item">
          <button class="exercises-button" data-name="Body parts">
            Body parts
          </button>
        </li>
        <li class="exercises-button-item">
          <button class="exercises-button" data-name="Equipment">
            Equipment
          </button>
        </li>
      </ul>
      <form action="#" class="exercises-form form-is-hiden">
        <label class="exercises-label"
          ><input type="text" class="exercises-search-input"
        /></label>
      </form>
      <ul class="exercises-list"></ul>
      <ul class="exercises-list-pages"></ul>
    </div>
  </div>
</section>

<!-- <li class="exercises-item" style="background-image: url()">
          <p class="exercises-item-text"></p>
          <p class="exercises-item-text-second"></p>
        </li> -->

<!-- <li>
          <button
            class="exercises-pages-button select-pages-ative"
            data-number=""
          ></button>
        </li> -->
