<section class="exercises-section">
  <div class="container">
    <div class="exercises-container">
      <h2 class="exercises-title">
        Exercises <span class="exercises-title-span"></span>
      </h2>
      <div class="exer-form-button-wrapper">
        <ul class="exercises-button-list">
          <li class="exercises-button-item">
            <button
              class="exercises-button exercises-button-active"
              data-name="Muscles"
            >
              Muscles
            </button>
          </li>
          <li class="exercises-button-item">
            <button class="exercises-button" data-name="Body parts">
              Body parts
            </button>
          </li>
          <li class="exercises-button-item">
            <button class="exercises-button" data-name="Equipment">
              Equipment
            </button>
          </li>
        </ul>

        <form class="exercises-form form-is-hiden">
          <div class="form-wrapper">
            <label class="exercises-label"
              ><input
                name="usertext"
                placeholder="Search"
                type="text"
                class="exercises-search-input"
            /></label>
            <button class="exer-form-button" type="submit">
              <svg class="exercises-form-svg" width="18" height="18">
                <use href="../img/symbol-defs.svg#icon-search"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <ul class="exercises-list" data-click=""></ul>
      <ul class="exercises-list-pages" data-click=""></ul>
    </div>
  </div>
</section>

<!-- <li class="exercises-item" style="background-image: url()">
          <p class="exercises-item-text"></p>
          <p class="exercises-item-text-second"></p>
        </li> -->
<!-- https://github.com/IIROFESSOR-X/project_js_CodeCrafters/pull/10 -->
<!-- <li>
          <button
            class="exercises-pages-button select-pages-ative"
            data-number=""
          ></button>
        </li> -->
<!-- <li class="exer-card-item">
  <div class="exer-card-background">
    <div class="card-workout-wrapper">
      <p class="exer-workout-text">WORKOUT</p>
      <p class="exer-card-rating">${rating}</p>
      <svg class="card-rating-svg" width="14" height="14">
        <use href="./img/symbol-defs.svg#icon-star"></use>
      </svg>
      <button class="card-start-button">
        Start
        <svg class="card-arrow-svg" width="14" height="14">
          <use href="./img/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <p>
      <span>
        <svg class="card-runing-men-svg" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-running-men"></use></svg
        >${equipment}
      </span>
    </p>

    <p class="card-burned-calories-text">
      Burned calories:
      <span class="card-burned-calories-span"
        >${burnedCalories} /${time} min</span
      >
    </p>

    <p class="card-body-part-text">
      Body part:
      <span class="card-body-part-span">${bodyPart}</span>
    </p>
    <p class="card-target-text">
      Target:
      <span class="card-target-text-span">${target}</span>
    </p>
  </div>
</li>
<div class="card-runing-men-wrapper"></div> -->
<!-- <div class="no-results-wrapper">
  <p class="no-results-message">
    Unfortunately, <span class="no-results-messag-span">no results</span>no
    results were found. You may want to consider other search options to find
    the exercise you are looking for. Our range is wide and you have the
    opportunity to find more options that suit your needs.
  </p>
</div> -->
<span class="exer-title-slash"></span>
<span></span>
