<header class="header-page">
  <div class="container header-container">
    <div class="header-background">
      <div class="header-wrapper">
        <nav class="header-nav">
          <a href="../index.html" class="header-logo">energy.flow</a>
        </nav>
        <button class="burger-button">
          <svg class="burger-svg" width="32" height="16">
            <use
              class="burger-svg-use"
              href="../img/symbol-defs.svg#icon-burger"
            ></use>
          </svg>
        </button>
      </div>
      <ul class="header-list">
        <li class="header-item">
          <p class="header-list-text">#Sport</p>
        </li>
        <li class="header-item">
          <p class="header-list-text">#Healthy</p>
        </li>
        <li class="header-item">
          <p class="header-list-text">#Workout</p>
        </li>
        <li class="header-item">
          <p class="header-list-text">#Diet</p>
        </li>
      </ul>
    </div>
    <div class="header-title-wrapper">
      <h1 class="header-title">
        Get <span class="header-title-span">Body</span> in shape, Stay healthy
      </h1>
      <p class="header-title-text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</header>
