<section class="qoute-section">
  <div class="container quote-container">
    <div class="qoute-text-wrapper">
      <h3 class="quote-title">Quote of the day</h3>

      <p class="qoute-of-day-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="quote-author">Tom Brady</p>
    </div>
    <picture class="quote-picture">
      <source
        media="(min-width: 1440px)"
        srcset="./img/mobile-qoute.jpg 1x, ./img/mobile-qoute@2x.jpg 2x"
        type="image/jpg"
        width="704"
        height="302" />

      <source
        media="(min-width: 768px)"
        srcset="./img/tablet-qoute.jpg 1x, ./img/tablet-qoute@2x.jpg 2x"
        type="image/jpg"
        width="736"
        height="302" />
      <img
        class="quote-image"
        srcset="./img/mobile-qoute.jpg 1x, ./img/mobile-qoute@2x.jpg 2x"
        src="./img/mobile-qoute.jpg"
        alt="girl's waist"
        width="335"
        height="272"
    /></picture>
    <svg class="quote-svg-men" width="34" height="32">
      <use href="./img/symbol-defs.svg#icon-running-men"></use>
    </svg>
    <svg class="quote-svg-commas" width="28" height="28">
      <use href="./img/symbol-defs.svg#icon-inverted-commas"></use>
    </svg>
  </div>
</section>
